################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wetr/DAL/DAL.sln
/Wetr/DAL/.vs/DAL/v15/Server/sqlite3/db.lock
/Wetr/DAL/.vs/Wetr/v15/Server/sqlite3/db.lock
/Wetr/Db/Wetr_db.ldf
